<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sompod44soft.assignment_04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Calculator"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AboutMe"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyCV.Details"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyCV.Education"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyCV.Skill"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyCV.Experience"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyCV.Contacts"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginEnterface"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Successful_registration"
            android:parentActivityName=".MainActivity">

            <!-- The mata-data tag is required if you support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>